name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    name: build test
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v2
    - name: checkout submodules
      run: git submodule update --init --remote --recursive
    - name: install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y -qq install cmake ninja-build
    - name: install arm-none-eabi-gcc
      run: |
        wget -q https://developer.arm.com/-/media/Files/downloads/gnu/11.2-2022.02/binrel/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        tar -xf gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        echo "$(cd gcc-arm-11.2-2022.02-x86_64-arm-none-eabi/bin && pwd)" >> $GITHUB_PATH
    - name: check arm-none-eabi-gcc version
      run: arm-none-eabi-gcc -v
    - name: make test
      run: |
        cmake -S. -Bbuild -GNinja
        cmake --build build -v
  example:
    name: example test
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v2
    - name: checkout submodules
      run: git submodule update --init --remote --recursive
    - name: install arm-none-eabi-gcc
      run: |
        wget -q https://developer.arm.com/-/media/Files/downloads/gnu/11.2-2022.02/binrel/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        tar -xf gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        echo "$(cd gcc-arm-11.2-2022.02-x86_64-arm-none-eabi/bin && pwd)" >> $GITHUB_PATH
    - name: check arm-none-eabi-gcc version
      run: arm-none-eabi-gcc -v
    - name: make test
      run: bash ./.example-test.sh
  stdcxx:
    name: stdc++ test
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v2
    - name: checkout submodules
      run: git submodule update --init --remote --recursive
    - name: install arm-none-eabi-gcc
      run: |
        wget -q https://developer.arm.com/-/media/Files/downloads/gnu/11.2-2022.02/binrel/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        tar -xf gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        echo "$(cd gcc-arm-11.2-2022.02-x86_64-arm-none-eabi/bin && pwd)" >> $GITHUB_PATH
    - name: check arm-none-eabi-gcc version
      run: arm-none-eabi-gcc -v
    - name: make test
      run: bash ./.stdc++-test.sh
  unit:
    name: unit test
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v2
    - name: checkout submodules
      run: git submodule update --init --remote --recursive
    - name: install arm-none-eabi-gcc
      run: |
        wget -q https://developer.arm.com/-/media/Files/downloads/gnu/11.2-2022.02/binrel/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        tar -xf gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
        echo "$(cd gcc-arm-11.2-2022.02-x86_64-arm-none-eabi/bin && pwd)" >> $GITHUB_PATH
    - name: check arm-none-eabi-gcc version
      run: arm-none-eabi-gcc -v
    - name: make test
      run: make all -f .unit-test.make
